In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

import io

# Specify the correct file path and delimiter
file_path = r"D:\1\Ali\Machine_Learning\Movie_Recommendation_System\ml-1m\movies.dat"
delimiter = '::'  # The delimiter used in the .dat file

# Read the .dat file using pandas
with open(file_path, 'r', encoding='latin1') as file:
    content = file.read()
    movies = pd.read_csv(io.StringIO(content), delimiter=delimiter, header=None,engine='python')

new_column_names = {
    0: 'movieId',
    1: 'title',
    2: 'genres'
}

movies.rename(columns=new_column_names, inplace=True)

movies

,movieId,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [3]:
movies['year'] = movies['title'].str.extract(r'(\d{4})')
movies

,movieId,title,genres,year
0,1,Toy Story (1995),Animation|Children's|Comedy,1995
1,2,Jumanji (1995),Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,2000
3879,3949,Requiem for a Dream (2000),Drama,2000
3880,3950,Tigerland (2000),Drama,2000
3881,3951,Two Family House (2000),Drama,2000
3882,3952,"Contender, The (2000)",Drama|Thriller,2000

In [4]:
import re

def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title
movies['clean_title'] = movies['title'].apply(clean_title)
movies['year'] = movies['title'].str.extract(r'(\d{4})')
movies.drop("title",axis=1,inplace=True)
def clean_titleee(title):
    title = re.sub("[^a-zA-Z ]", "", title)
    return title
movies['clean_title'] = movies['clean_title'].apply(clean_titleee)
movies

,movieId,genres,year,clean_title
0,1,Animation|Children's|Comedy,1995,Toy Story
1,2,Adventure|Children's|Fantasy,1995,Jumanji
2,3,Comedy|Romance,1995,Grumpier Old Men
3,4,Comedy|Drama,1995,Waiting to Exhale
4,5,Comedy,1995,Father of the Bride Part II
...,...,...,...,...
3878,3948,Comedy,2000,Meet the Parents
3879,3949,Drama,2000,Requiem for a Dream
3880,3950,Drama,2000,Tigerland
3881,3951,Drama,2000,Two Family House
3882,3952,Drama|Thriller,2000,Contender The

In [5]:
movies['title'] = movies['clean_title']
movies.drop(columns=['clean_title'], inplace=True)
movies

,movieId,genres,year,title
0,1,Animation|Children's|Comedy,1995,Toy Story
1,2,Adventure|Children's|Fantasy,1995,Jumanji
2,3,Comedy|Romance,1995,Grumpier Old Men
3,4,Comedy|Drama,1995,Waiting to Exhale
4,5,Comedy,1995,Father of the Bride Part II
...,...,...,...,...
3878,3948,Comedy,2000,Meet the Parents
3879,3949,Drama,2000,Requiem for a Dream
3880,3950,Drama,2000,Tigerland
3881,3951,Drama,2000,Two Family House
3882,3952,Drama|Thriller,2000,Contender The

In [6]:
genre_columns = movies['genres'].str.get_dummies('|')
movies = pd.concat([movies, genre_columns], axis=1)
movies.drop(columns='genres',inplace=True)
movies

,movieId,year,title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,Toy Story,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,Jumanji,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,1995,Grumpier Old Men,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,1995,Waiting to Exhale,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1995,Father of the Bride Part II,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,2000,Meet the Parents,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,2000,Requiem for a Dream,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,2000,Tigerland,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,2000,Two Family House,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,2000,Contender The,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
movies.drop_duplicates()
movies.isna().sum()

movieId        0
year           0
title          0
Action         0
Adventure      0
Animation      0
Children's     0
Comedy         0
Crime          0
Documentary    0
Drama          0
Fantasy        0
Film-Noir      0
Horror         0
Musical        0
Mystery        0
Romance        0
Sci-Fi         0
Thriller       0
War            0
Western        0
dtype: int64

In [8]:
# Specify the correct file path and delimiter
file_path = r"D:\1\Ali\Machine_Learning\Movie_Recommendation_System\ml-1m\ratings.dat"
delimiter = '::'  # The delimiter used in the .dat file

# Read the .dat file using pandas
with open(file_path, 'r', encoding='latin1') as file:
    content = file.read()
    ratings = pd.read_csv(io.StringIO(content), delimiter=delimiter, header=None,engine='python')
new_column_names = {
    0: 'userId',
    1: 'movieId',
    2: 'rating',
    3: 'timestamp'
}

ratings.rename(columns=new_column_names, inplace=True)
ratings.drop_duplicates
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [9]:
ratings

         userId  movieId  rating  timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [10]:
# Specify the correct file path and delimiter
file_path = r"D:\1\Ali\Machine_Learning\Movie_Recommendation_System\ml-1m\users.dat"
delimiter = '::'  # The delimiter used in the .dat file

# Read the .dat file using pandas
with open(file_path, 'r', encoding='latin1') as file:
    content = file.read()
    users = pd.read_csv(io.StringIO(content), delimiter=delimiter, header=None,engine='python')
new_column_names = {
    0: 'userId',
    1: 'gender',
    2: 'age',
    3: 'occupation',
    4: 'zip_code'
}

users.rename(columns=new_column_names, inplace=True)
users

      userId gender  age  occupation zip_code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [11]:
one_hot_encoded = pd.get_dummies(users['gender'], prefix=None)
users = pd.concat([users, one_hot_encoded], axis=1)
users.drop(columns=['gender'],inplace=True)
users.drop_duplicates()
users.isna().sum()

userId        0
age           0
occupation    0
zip_code      0
F             0
M             0
dtype: int64

In [12]:
merged_df=pd.merge(pd.merge(ratings, users, on="userId"),movies, on="movieId")
merged_df

,userId,movieId,rating,timestamp,age,occupation,zip_code,F,M,year,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1193,5,978300760,1,10,48067,1,0,1975,...,0,0,0,0,0,0,0,0,0,0
1,2,1193,5,978298413,56,16,70072,0,1,1975,...,0,0,0,0,0,0,0,0,0,0
2,12,1193,4,978220179,25,12,32793,0,1,1975,...,0,0,0,0,0,0,0,0,0,0
3,15,1193,4,978199279,25,7,22903,0,1,1975,...,0,0,0,0,0,0,0,0,0,0
4,17,1193,5,978158471,50,1,95350,0,1,1975,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,5949,2198,5,958846401,18,17,47901,0,1,1998,...,0,0,0,0,0,0,0,0,0,0
1000205,5675,2703,3,976029116,35,14,30030,0,1,1998,...,0,0,0,0,0,0,0,0,0,0
1000206,5780,2845,1,958153068,18,17,92886,0,1,1999,...,0,0,0,0,0,0,0,0,0,0
1000207,5851,3607,5,957756608,18,20,55410,1,0,1973,...,0,0,0,0,0,0,0,0,0,1
1000208,5938,2909,4,957273353,25,1,35401,0,1,1998,...,0,0,0,0,0,0,0,0,0,0

In [13]:
temp_df=merged_df.copy()
temp_df.drop(columns=['year','title',],inplace=True)


temp_df

,userId,movieId,rating,timestamp,age,occupation,zip_code,F,M,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1193,5,978300760,1,10,48067,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1193,5,978298413,56,16,70072,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,12,1193,4,978220179,25,12,32793,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,15,1193,4,978199279,25,7,22903,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,17,1193,5,978158471,50,1,95350,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,5949,2198,5,958846401,18,17,47901,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000205,5675,2703,3,976029116,35,14,30030,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000206,5780,2845,1,958153068,18,17,92886,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000207,5851,3607,5,957756608,18,20,55410,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1000208,5938,2909,4,957273353,25,1,35401,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
temp_df = temp_df.loc[:, ~temp_df.columns.duplicated()]
temp_df

,userId,movieId,rating,timestamp,age,occupation,zip_code,F,M,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1193,5,978300760,1,10,48067,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1193,5,978298413,56,16,70072,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,12,1193,4,978220179,25,12,32793,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,15,1193,4,978199279,25,7,22903,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,17,1193,5,978158471,50,1,95350,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,5949,2198,5,958846401,18,17,47901,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000205,5675,2703,3,976029116,35,14,30030,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000206,5780,2845,1,958153068,18,17,92886,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000207,5851,3607,5,957756608,18,20,55410,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1000208,5938,2909,4,957273353,25,1,35401,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
average_user_rating=temp_df.drop([
 'movieId',
 'rating',
 'timestamp',
 'age',
 'occupation',
 'zip_code',
 'F',
 'M'],axis=1)
temp_df

,userId,movieId,rating,timestamp,age,occupation,zip_code,F,M,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1193,5,978300760,1,10,48067,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1193,5,978298413,56,16,70072,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,12,1193,4,978220179,25,12,32793,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,15,1193,4,978199279,25,7,22903,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,17,1193,5,978158471,50,1,95350,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,5949,2198,5,958846401,18,17,47901,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000205,5675,2703,3,976029116,35,14,30030,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000206,5780,2845,1,958153068,18,17,92886,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1000207,5851,3607,5,957756608,18,20,55410,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1000208,5938,2909,4,957273353,25,1,35401,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
column_names = temp_df.columns.tolist()
genres=column_names[9:]
for genre in genres:
    average_user_rating.loc[:, genre] = temp_df['rating'] * temp_df[genre]

average_user_rating

,userId,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0
2,12,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0
4,17,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,5949,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0
1000205,5675,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0
1000206,5780,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1000207,5851,0,0,0,0,5,0,0,5,0,0,0,0,0,0,0,0,0,5
1000208,5938,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0

In [19]:
grouped=average_user_rating.groupby('userId')[genres].mean()
grouped=grouped.add_prefix('user_average_')
grouped

,user_average_Action,user_average_Adventure,user_average_Animation,user_average_Children's,user_average_Comedy,user_average_Crime,user_average_Documentary,user_average_Drama,user_average_Fantasy,user_average_Film-Noir,user_average_Horror,user_average_Musical,user_average_Mystery,user_average_Romance,user_average_Sci-Fi,user_average_Thriller,user_average_War,user_average_Western
userId,,,,,,,,,,,,,,,,,,
1,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,0.000000,0.000000,1.132075,0.000000,0.415094,0.245283,0.207547,0.188679,0.000000
2,1.519380,0.550388,0.000000,0.000000,0.689922,0.333333,0.000000,2.387597,0.023256,0.031008,0.046512,0.000000,0.077519,0.689922,0.472868,0.837209,0.434109,0.100775
3,1.784314,1.960784,0.235294,0.235294,2.215686,0.000000,0.000000,0.627451,0.176471,0.000000,0.156863,0.078431,0.058824,0.372549,0.450980,0.372549,0.156863,0.549020
4,3.761905,1.095238,0.000000,0.190476,0.000000,0.238095,0.000000,1.190476,0.428571,0.000000,0.619048,0.000000,0.000000,0.380952,1.523810,0.666667,0.476190,0.428571
5,0.409091,0.136364,0.080808,0.116162,0.964646,0.348485,0.111111,1.626263,0.000000,0.060606,0.141414,0.050505,0.126263,0.469697,0.232323,0.560606,0.106061,0.020202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.520270,0.279279,0.149775,0.209459,0.941441,0.210586,0.048423,1.468468,0.064189,0.077703,0.248874,0.129505,0.130631,0.460586,0.539414,0.520270,0.179054,0.057432
6037,0.504950,0.178218,0.019802,0.108911,1.044554,0.341584,0.019802,1.881188,0.084158,0.153465,0.183168,0.079208,0.237624,0.400990,0.712871,1.247525,0.316832,0.074257
6038,0.300000,0.200000,0.550000,0.150000,2.300000,0.000000,0.000000,1.750000,0.000000,0.000000,0.250000,0.000000,0.000000,1.250000,0.200000,0.000000,0.800000,0.000000
6039,0.260163,0.333333,0.382114,0.487805,1.967480,0.065041,0.000000,0.910569,0.146341,0.219512,0.032520,1.260163,0.577236,0.926829,0.276423,0.471545,0.300813,0.073171
6040,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,0.117302,0.167155,0.105572,0.143695,0.460411,0.387097,0.472141,0.249267,0.023460

In [ ]:
temp_df

In [20]:
lol=pd.merge(grouped, temp_df, on="userId")
lol

,userId,user_average_Action,user_average_Adventure,user_average_Animation,user_average_Children's,user_average_Comedy,user_average_Crime,user_average_Documentary,user_average_Drama,user_average_Fantasy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,...,0,0,0,0,0,0,0,0,0,0
1,1,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,...,0,0,0,1,0,0,0,0,0,0
2,1,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,...,0,0,0,1,0,1,0,0,0,0
3,1,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,...,0,0,0,0,0,0,0,0,0,0
4,1,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,...,0,0,0,0,0,0,0,0,0,0
1000205,6040,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,...,0,0,0,0,0,0,0,0,0,0
1000206,6040,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,...,0,0,0,0,0,0,0,0,0,0
1000207,6040,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,...,0,0,0,0,0,0,0,0,0,0
1000208,6040,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,...,0,0,0,0,0,0,0,0,0,0

In [21]:
column_names = lol.columns.tolist()
column_names

['userId',
 'user_average_Action',
 'user_average_Adventure',
 'user_average_Animation',
 "user_average_Children's",
 'user_average_Comedy',
 'user_average_Crime',
 'user_average_Documentary',
 'user_average_Drama',
 'user_average_Fantasy',
 'user_average_Film-Noir',
 'user_average_Horror',
 'user_average_Musical',
 'user_average_Mystery',
 'user_average_Romance',
 'user_average_Sci-Fi',
 'user_average_Thriller',
 'user_average_War',
 'user_average_Western',
 'movieId',
 'rating',
 'timestamp',
 'age',
 'occupation',
 'zip_code',
 'F',
 'M',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [22]:
lol.drop(columns=['userId','movieId','timestamp','zip_code'],inplace=True)
lol

,user_average_Action,user_average_Adventure,user_average_Animation,user_average_Children's,user_average_Comedy,user_average_Crime,user_average_Documentary,user_average_Drama,user_average_Fantasy,user_average_Film-Noir,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,0.000000,...,0,0,0,1,0,0,0,0,0,0
2,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,0.000000,...,0,0,0,1,0,1,0,0,0,0
3,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,0.396226,0.377358,1.396226,1.603774,1.094340,0.150943,0.000000,1.754717,0.226415,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,0.117302,...,0,0,0,0,0,0,0,0,0,0
1000205,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,0.117302,...,0,0,0,0,0,0,0,0,0,0
1000206,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,0.117302,...,0,0,0,0,0,0,0,0,0,0
1000207,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,0.117302,...,0,0,0,0,0,0,0,0,0,0
1000208,0.366569,0.181818,0.035191,0.070381,0.979472,0.287390,0.131965,2.073314,0.061584,0.117302,...,0,0,0,0,0,0,0,0,0,0

In [23]:
column_names = lol.columns.tolist()
column_names

['user_average_Action',
 'user_average_Adventure',
 'user_average_Animation',
 "user_average_Children's",
 'user_average_Comedy',
 'user_average_Crime',
 'user_average_Documentary',
 'user_average_Drama',
 'user_average_Fantasy',
 'user_average_Film-Noir',
 'user_average_Horror',
 'user_average_Musical',
 'user_average_Mystery',
 'user_average_Romance',
 'user_average_Sci-Fi',
 'user_average_Thriller',
 'user_average_War',
 'user_average_Western',
 'rating',
 'age',
 'occupation',
 'F',
 'M',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [24]:
columns=['rating',
 'age',
 'occupation',
 'F',
 'M','user_average_Action',
 'user_average_Adventure',
 'user_average_Animation',
 "user_average_Children's",
 'user_average_Comedy',
 'user_average_Crime',
 'user_average_Documentary',
 'user_average_Drama',
 'user_average_Fantasy',
 'user_average_Film-Noir',
 'user_average_Horror',
 'user_average_Musical',
 'user_average_Mystery',
 'user_average_Romance',
 'user_average_Sci-Fi',
 'user_average_Thriller',
 'user_average_War',
 'user_average_Western',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']
lol=lol[columns]
lol

,rating,age,occupation,F,M,user_average_Action,user_average_Adventure,user_average_Animation,user_average_Children's,user_average_Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,5,1,10,1,0,0.396226,0.377358,1.396226,1.603774,1.094340,...,0,0,0,0,0,0,0,0,0,0
1,3,1,10,1,0,0.396226,0.377358,1.396226,1.603774,1.094340,...,0,0,0,1,0,0,0,0,0,0
2,3,1,10,1,0,0.396226,0.377358,1.396226,1.603774,1.094340,...,0,0,0,1,0,1,0,0,0,0
3,4,1,10,1,0,0.396226,0.377358,1.396226,1.603774,1.094340,...,0,0,0,0,0,0,0,0,0,0
4,5,1,10,1,0,0.396226,0.377358,1.396226,1.603774,1.094340,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,5,25,6,0,1,0.366569,0.181818,0.035191,0.070381,0.979472,...,0,0,0,0,0,0,0,0,0,0
1000205,1,25,6,0,1,0.366569,0.181818,0.035191,0.070381,0.979472,...,0,0,0,0,0,0,0,0,0,0
1000206,5,25,6,0,1,0.366569,0.181818,0.035191,0.070381,0.979472,...,0,0,0,0,0,0,0,0,0,0
1000207,3,25,6,0,1,0.366569,0.181818,0.035191,0.070381,0.979472,...,0,0,0,0,0,0,0,0,0,0
1000208,5,25,6,0,1,0.366569,0.181818,0.035191,0.070381,0.979472,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# from sklearn.model_selection import train_test_split, RandomizedSearchCV
# from sklearn.neighbors import KNeighborsClassifier
# from scipy.stats import randint
# X = lol.drop('rating', axis=1)
# y = lol['rating']

# # Split data into train and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Define the hyperparameters and their distributions for random search
# param_dist = {
#     'n_neighbors': randint(1, 50),
#     'weights': ['uniform', 'distance'],
#     'algorithm': ['auto']
# }
# # Create an instance of the KNN model
# knn = KNeighborsClassifier()

# # Perform random search with cross-validation
# randomized_search = RandomizedSearchCV(estimator=knn, param_distributions=param_dist, scoring='accuracy', cv=3, n_iter=5)
# randomized_search.fit(X_train, y_train)

# # Get the best model and its hyperparameters
# best_knn_model = randomized_search.best_estimator_
# best_params = randomized_search.best_params_

# # Evaluate the model on the test set
# accuracy = best_knn_model.score(X_test, y_test)
# print("Best Model Accuracy:", accuracy)
# print("Best Hyperparameters:", best_params)

In [ ]:
# # # Saving classifier using pickle
# pickle.dump(best_knn_model, open("model_clf_pickle", 'wb'))
  
# # load classifier using pickle
# my_model_clf = pickle.load(open("model_clf_pickle", 'rb'))
# result_score = my_model_clf.score(X_test,y_test)
# print("Score: ",result_score)

In [27]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import randint
from sklearn.metrics import accuracy_score

X = lol.drop('rating', axis=1)
y = lol['rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
knn = KNeighborsClassifier(algorithm= 'auto', n_neighbors= 9, weights= 'distance')

# Train the model on the training data
knn.fit(X_train, y_train)

# Predictions on the test set
predictions = knn.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, predictions)
print("Test Set Accuracy:", accuracy)

Test Set Accuracy: 0.36284880175163214

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.svm import SVC
from scipy.stats import uniform


# Define the hyperparameters and their distributions
param_dist = {
    'C': uniform(loc=0, scale=10),
    'kernel': ['linear', 'rbf'],
    'gamma': ['scale', 'auto']
}

# Create an instance of the model
model = SVC()

# Perform randomized search with cross-validation
randomized_search = RandomizedSearchCV(estimator=model, param_distributions=param_dist, scoring='accuracy', cv=3, n_iter=5)
randomized_search.fit(X, y)

# Get the best model and its hyperparameters
best_model = randomized_search.best_estimator_
best_params = randomized_search.best_params_

# Evaluate the model on the test set
accuracy = best_model.score(X_test, y_test)
print("Best Model Accuracy:", accuracy)
print("Best Hyperparameters:", best_params)

In [ ]:
# import pickle
# # Saving classifier using pickle
# pickle.dump(best_knn_model, open("model_clf_pickle", 'wb'))
  
# # load classifier using pickle
# my_model_clf = pickle.load(open("model_clf_pickle", 'rb'))
# result_score = my_model_clf.score(X_test,y_test)
# print("Score: ",result_score)
# Save the model using pickle
# with open("model_clf_pickle.pkl", 'wb') as model_file:
#     pickle.dump(best_knn_model, model_file)

# # Load the model using pickle
# with open("model_clf_pickle.pkl", 'rb') as model_file:
#     loaded_model = pickle.load(model_file)